<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edit Details</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label>Edit</label>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form role="form" >
                <fieldset disabled>

                  <div class="form-group">
                    <label for="disabledSelect">Email</label>
                    <p class="form-control-static">{{email}}</p>
                  </div>
                </fieldset>
                <div class="row col-lg-12">
                  <div class="col-lg-6" style="padding-left: 0">
                    <div class="form-group input-group col-lg-6">
                      <label>First Name</label>
                      <input [(ngModel)]="userInfo.firstName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Firstname" name="fname" type="text" style="width: 150%;" autofocus>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group input-group col-lg-6">
                      <label>Last Name</label>
                      <input [(ngModel)]="userInfo.lastName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Lastname" name="lname" type="text" style="width: 150%;" autofocus>
                    </div>
                  </div>
                </div>
                <div class="row col-lg-12">
                  <div class="col-lg-6" style="padding-left: 0">
                    <div class="form-group input-group col-lg-6">
                      <label>City</label>

                      <select [(ngModel)]="userInfo.location" [ngModelOptions]="{standalone: true}" style="width: 150%;">
                        <option *ngFor="let l of locations" [ngValue]="l.id">{{l.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="margin-bottom: 0;" class="form-group input-group col-lg-6">
                      <label>Budget</label>
                    </div>
                    <div class="form-group input-group" style="width: 75%">
                      <span class="input-group-addon">Rs</span>
                      <input [(ngModel)]="userInfo.annualBudget" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Budget in RS">
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                </div>
                <div class="row col-lg-12">
                  <div class="col-lg-6" style="padding-left: 0">
                    <div class="form-group input-group col-lg-6">
                      <label>Qualification</label>
                      <select [(ngModel)]="userInfo.qualification" [ngModelOptions]="{standalone: true}" style="width: 150%;">
                        <option *ngFor="let p of predegree" [ngValue]="p.id">{{p.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="margin-bottom: 0;" class="form-group input-group col-lg-6">
                      <label>Percentage</label>
                    </div>
                    <div class="form-group input-group" style="width: 75%">
                      <input [(ngModel)]="userInfo.percentage" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Percentage">
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>






                <div class="form-group">
                  <label>Habbits</label>
                  <div class="col-md-4 col-sm-4 col-xs-2" style="float:right">
                    <button type="button" class="btn btn-link" style="color:red;font-size: 8pt;right:1em;"  (click)="openHobbyDialog()" >
                      <i  class=" fa fa-close" aria-hidden="true"></i>Delete Habbit
                    </button>
                  </div>
                </div>


                <div class="container" style="background-color: #f8f8f8; width: 97%; padding-top: 0.5em;margin-bottom: 2em;">
                  <div class="col-lg-1" style="    height: 30px;background-color: #2e7aded4;width: fit-content;border: 1px solid #000bffcf;border-radius: 10pt;padding: 5px 20px; margin: 1em; " *ngFor="let item of hobbyUserList;">
                    <p style="color: white;">{{item}}</p>
                  </div>
                </div>
                <div class="row">

                </div>
                <div class="form-group">
                  <label>Skills</label>
                  <div class="col-md-4 col-sm-4 col-xs-2" style="float:right">
                    <button type="button" class="btn btn-link" style="color:red;font-size: 8pt;right:1em;" (click)="openSkillDialog()">
                      <i    class=" fa fa-close" aria-hidden="true"></i>Delete Skill
                    </button>
                  </div>
                </div>
                <div class="container" style="background-color: #f8f8f8; width: 97%; padding-top: 0.5em;margin-bottom: 2em;">
                  <div class="col-lg-1" style="    height: 30px;background-color: #2e7aded4;width: fit-content;border: 1px solid #000bffcf;border-radius: 10pt;padding: 5px 20px; margin: 1em;" *ngFor="let item of skillUserList;">
                    <p style="color: white;">{{item.name}}</p>
                  </div>


                </div>
                <div class="row">
                </div>
                <div class="form-group">
                  <label>Interests</label>
                  <div class="col-md-4 col-sm-4 col-xs-2" style="float:right">
                    <button type="button" class="btn btn-link" style="color:red;font-size: 8pt;right:1em;"  (click)="openInterestDialog()">
                      <i  class=" fa fa-close" aria-hidden="true"></i>Delete Interest
                    </button>
                  </div>

                </div>
                <div class="container" style="background-color: #f8f8f8; width: 97%; padding-top: 0.5em;margin-bottom: 2em;">
                  <div class="col-lg-1" style="    height: 30px;background-color: #2e7aded4;width: fit-content;border: 1px solid #000bffcf;border-radius: 10pt;padding: 5px 20px; margin: 1em;" *ngFor="let item of interestUserList;">
                    <p style="color: white;">{{item.name}}</p>
                  </div>


                </div>
                <div class="row">

                </div>
                <div class="form-group" style="margin-top: 3em;">
                  <button (click)="editProfile()" type="submit" class="btn btn-default">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
