 <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">University Recommendations</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                              <ul class="timeline">
                                <li *ngFor="let item of recommendations; let isOdd=odd"   [class.timeline-inverted]="isOdd" >
                                  <div class="timeline-badge success"  >
                                    <i class="fa fa-graduation-cap"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">{{item.UniversityName}}</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <h6>Program : {{item.Degree}}</h6>
                                      <h6>Budget : Rs{{item.fee}} per Semester</h6>
                                      <h6>Program Ratting : {{item.rating}}</h6>
                                    </div>
                                  </div>
                                </li>
                        

                              </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
